* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

body {
    padding: 25px;
}

h1, h2 {
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: -1px 0 -1px -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1px;
}

.fld-cont {
    border-collapse: collapse;
    margin-bottom: 15px;
}
.fld-td {
    width: 50px;
    height: 50px;
    border: 1px solid #555;
}
.fld-char__wrap {
    position: relative;
    width: 50px;
    height: 50px;
}
.fld-char {
    border: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 27px;
    font-family: 'Times New Roman', serif;
}


.fld-char__number {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #fea500;
    font-size: 11px;
    text-align: center;
    line-height: 15px;
    color: #fff;
}

.fld-char__wrap.is-active .fld-char__number {
    display: block;
}
.fld-char__wrap .fld-char__number {
    background: #5e81a8;
}
.fld-char__wrap.is-first .fld-char__number {
    background: #fea500;
}



.word-list__header {
    margin: 15px 0 3px;
}
.word-list__item {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    border-bottom: 1px dotted #285473;
    color: #285473;
    font-size: 14px;
}

.btn {
    display: inline-block;
    padding: 7px 16px 8px;
    font-size: 12.5px;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5e81a8;
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
}

